@model IEnumerable<MvcPeliculasApiAWS.Models.Pelicula>

@{
    ViewData["Title"] = "PeliculasActor";
}

<form method="post">
    <label>Actor</label>
    <input type="text" name="actor" class="form-control" />
    <button class="btn btn-success">
        Buscar
    </button>
</form>

@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPelicula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Argumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Youtube)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPelicula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Argumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Foto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Youtube)
                    </td>
                    <td>
                        <a asp-controller="Peliculas" asp-action="Details"
                           asp-route-id="@item.IdPelicula" class="btn btn-success">
                            Details
                        </a>
                        <a asp-controller="Peliculas" asp-action="Edit"
                           asp-route-idPelicula="@item.IdPelicula" class="btn btn-info">
                            Edit
                        </a>
                        <a asp-controller="Peliculas" asp-action="Delete"
                           asp-route-idPelicula="@item.IdPelicula" class="btn btn-danger">
                            Delete
                        </a>
                </tr>
            }
        </tbody>
    </table>
}
